* h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
}

* h2, h3, h4, p, a, blockquote {
	font-family: 'Quicksand', serif;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

body {
	padding-top: 50px;
	text-align: center;
}

.danger {
	color: #cf5f58;
	background-color: rgb(239, 122, 131);
}

.warning {
	color: #8a734c;
	background-color: rgb(246, 186, 99);
}

.safe {
	color: #85ab8a;
}

.black {
	color: rgb(14, 17, 18);
}

.bold {
	font-weight: bold;
}

#title {
	background-color: black;
	color: white;
	padding: 0;
	margin: 0;
}

#error {
	padding-top: 50px;
}

.newConsumableInput {
	border: none;
	border-bottom: 1px solid grey;
	width: 50%;
	height: 40px;
}

.focus {
	text-align: center;
}

.editPanel {
	width: 100vw;
	text-align: center;
}

.editForm {
	padding-top: 50px;
	width: 100%;
	margin: 0 auto;
}

/* navbar */
#navicon {
	border-radius: 50%;
}

.navbar-default {
	background-color: rgb(130, 167, 176);
	border: none; .
	-webkit-box-shadow: 0 1.5px 1px -1px #817d7d;
	-moz-box-shadow: 0 1.5px 1px -1px #817d7d;
	box-shadow: 0 1.5px 1px -1px #817d7d;
}

#logo {
	color: #fff;
	padding: 0;
}

.navbar-default .navbar-toggle {
	background-color: #B7E3E4;
	border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus
	{
	background-color: #fff;
}

.icon-bar {
	background-color: #F03F35 !important;
}

#logo img {
	height: 100%;
	padding: 5px 18px;
	width: auto;
}

#myNavbar {
	padding: 0;
}

#myNavbar a {
	color: #fff;
	text-transform: uppercase;
	margin: 0 0 0 8px;
	text-align: center;
}

#myNavbar a:hover {
	text-align: center;
}

.active a {
	color: #fff !important;
	background-color: #2f7a94 !important;
	font-style: italic;
}

/* Table */
.table tr th {
	text-align: center;
}

#form {
	padding-bottom : 30px;	
}


/* Contact */
.contact-content {
	text-align: center;
	padding: 50px 0;
}

.contact-content h1 {
	font-size: calc(15% + 3vw)
}

.contact-content a {
	color: black;
	font-size: calc(20% + 1vw)
}

.contact-content p {
	font-size: 20px;
	font-size: calc(20% + 1vw)
}

.contact-content ul {
	padding: 20px 0 20px 0;
	font-size: calc(20% + 1vw)
}

.contact-content li {
	line-height: 3em;
}

#social-list {
	margin: 0;
}

/* Footer */

footer {
    background-color: rgba(255, 255, 255, 0.85);
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    padding: 5px;
    z-index: 10;
}

.footer p, a {
    font-size: calc(.7em + .2vw);
    color: #878686;
}

.footer a:hover {
    color: #2f7a94;
}

@media only screen and (max-width: 300px) {
    footer {
        height: 50px;
        padding: 5px;
    }
}
